.contact-rings {
  position: absolute;
  left: -350px;
  top: 200px;
  pointer-events: none;
}

.hero-rings {
  position: absolute;
  left: -300px;
  top: 150px;
  pointer-events: none;
}

.skills-rings {
  position: absolute;
  right: -300px;
  bottom: 40px;
  pointer-events: none;
}

