@import "./variables";
@import "./mixins";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $color-black;
  overflow-x: hidden;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 700px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1080px) {
    max-width: 1110px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-title {
  @include heading-l;
  font-size: 40px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1;
  }

  @media screen and (min-width: 1080px) {
    font-size: 60px;
  }
}

.custom-shape-divider-bottom-1691809811 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691809811 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
}

.custom-shape-divider-bottom-1691809811 .shape-fill {
  fill: #FFFFFF;
}