@mixin heading-xl {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 88px;
  line-height: 1;
  color: $color-white;
  letter-spacing: -2.5px;
}

@mixin heading-l {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: calc(56 / 48 );
  color: $color-white;
  letter-spacing: -1.5px;
}

@mixin heading-m {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  color: $color-white;
}

@mixin text-m {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: $color-grey;
}
