.contact {
  position: relative;
  background-color: $color-darkgrey;


}

.contact-container {
  @media screen and (min-width: 1080px) {
    display: flex;
  }
}

.contact-title {
  text-align: center;

  @media screen and (min-width: 1080px) {
      text-align: left;
    }
}

.contact-text {
  @include text-m;
  margin-top: 20px;
}

.contact-form {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1080px) {
    margin-left: 50px;
  }
}

.contact-input {
  @include text-m;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-white;
  background-color: transparent;
  padding: 15px;
  outline: none;
  color: $color-white;
  text-transform: uppercase;
  transition-duration: 300ms;

  &:focus {
    border-color: $color-green;
  }
}

.textarea {
  margin-top: 30px;
  resize: none;
}

.contact-btn {
  align-self: flex-end;
  margin-top: 30px;
}



.error {
  @include text-m;
  font-size: 14px;
  color: $color-red;
  margin-top: 10px;
}