@import "../common/mixins";
@import "../common/variables";

.header {
  padding-top: 40px;
}

.header-container {
}

.header-title {
  text-align: center;
  @include heading-m;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.socials-link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
