.link-primary {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 2.3px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-green;
  padding: 10px;
  transition-duration: 300ms;

  &:is(:hover, :focus) {
        color: $color-green;
        box-shadow: 0 0.5em 0.5em -0.4em $color-green;
        transform: translateY(-0.25em);
      }
  }

