.projects {
  position: relative;
  z-index: 1;
}

.projects-container {
  @media screen and (max-width: 340px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.projects-title {
  &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 10px;
  
      background-color: $color-white;
    }
}

.projects-list {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1080px) {
    flex-wrap: nowrap;
  }
}

.projects-item {
  background-color: $color-darkgrey;
  width: 300px;
  box-shadow: 0 0 4px 2px rgba(255,255,255, .5);
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  @media screen and (min-width: 860px) {
      margin: 0;
  }
}

.project-image {
  width: 100%;
}

.project-info {
  width: 100%;
  padding: 10px;
}

.project-title {
  @include heading-m;
  color: $color-grey;
}

.technologies-list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.technologies-item {
  @include text-m;
}

.project-links-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 560px) {
    flex-wrap: wrap;
  }
}

.project-link {
  font-size: 14px;
}