.skills {
  position: relative;
}

.skills-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 10px;

  background-color: $color-white;
}

.skills-title {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;

    background-color: $color-white;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;

  @media screen and (min-width: 768px) {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
}